<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/529703bd5f.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Boolzapp</title>
  </head>
  <body>
    <!-- Green background -->
    <div class="wrapper-block-green">
      <div class="block-green"></div>
    </div>
    <!-- Container -->
    <div class="container" id="root">
      <!-- Left section -->
      <div class="wrapper-left">
        <!-- Me section  -->
        <div class="me-section">
          <div>
            <img src="imgs/avatar_io.jpg" alt="me img" />
          </div>
          <!-- Icons section -->
          <div class="wrapper-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- Notification section -->
        <div class="notification-section">
          <div>
            <i class="fas fa-bell-slash"></i>
          </div>
          <div>
            <p>Ricevi notifiche di nuovi messaggi</p>
            <p>Attiva notifiche dekstop</p>
          </div>
        </div>
        <!-- Search section -->
        <div class="search-section">
          <div>
            <input
              type="text"
              placeholder="Cerca o inizia una nuova chat"
              v-model="searchedText"
            />
            <i class="fas fa-search"></i>
            <i
              class="fas fa-times"
              v-if="searchedText"
              @click="searchedText=''"
            ></i>
          </div>
        </div>
        <!-- Chat section -->
        <div class="chat-section">
          <ul>
            <li
              v-for="(contact,index) in filteredUserList"
              @click="onUserClick(contact)"
              :class="{selected: contact.avatar === activeUser.avatar}"
            >
              <img :src="contact.avatar" alt="profile picture" />
              <div>
                <p>{{contact.name}}</p>
                <p>{{lastMessageText(contact)}}</p>
                <p>{{lastMessageTime(contact)}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right section -->
      <div class="wrapper-right">
        <!-- Header section -->
        <div class="header-section">
          <img :src="activeUser.avatar" alt="profile picture" />
          <div>
            <p>{{activeUser.name}}</p>
            <p>Ultimo accesso oggi alle {{lastMessageTime(activeUser)}}</p>
          </div>
          <div>
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- Chat section right -->
        <div class="chat-section-right" ref="chatContainerToScroll">
          <div
            class="container-messages"
            v-for="(message,index) in activeUser.message"
          >
            <div class="green-message" v-if="message.status === 'sent'">
              <p>{{message.text}}</p>
              <p>{{formatTime(message.date)}}</p>
              <i class="fas fa-caret-down"></i>

              <div
                :class="message.popup === true ? 'delete-panel' : 'display-none' "
              >
                <p @click="deleteMessage(index)">Delete message</p>
              </div>

              <div class="chevron-class">
                <i class="fas fa-chevron-down" @click="showPopup(message)"></i>
              </div>
            </div>
            <div class="white-message" v-if="message.status === 'received'">
              <p>{{message.text}}</p>
              <p>{{formatTime(message.date)}}</p>

              <div
                :class="message.popup === true ? 'delete-panel' : 'display-none' "
              >
                <p @click="deleteMessage(index)">Delete message</p>
              </div>

              <div class="chevron-class">
                <i class="fas fa-chevron-down" @click="showPopup(message)"></i>
              </div>

              <i class="fas fa-caret-down"></i>
            </div>
          </div>
        </div>
        <!-- Input section right -->
        <div class="input-section-right">
          <div>
            <i class="far fa-smile"></i>
          </div>
          <div>
            <input
              type="text"
              placeholder="Scrivi un messaggio"
              v-model="userMessage"
              @keyup.enter="sendUserMessage"
            />
          </div>
          <div>
            <i class="fas fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
