* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: rgb(218, 219, 212);
}

/* Block green section */

.wrapper-block-green {
  position: relative;
}

.block-green {
  height: 120px;
  background-color: rgb(0, 150, 137);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

/* Start container section */

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 30px 0;
  display: flex;
}

/* Left section */

.wrapper-left {
  width: 35%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.wrapper-left div {
  padding: 10px;
}

.wrapper-left div:first-of-type {
  padding: 2px;
}

img {
  width: 50px;
  border-radius: 50%;
}

/* Me section */
.me-section {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid lightgray;
}

i {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  cursor: pointer;
  color: gray;
}

/* Notification section */

.notification-section {
  background-color: rgb(155, 224, 253);
  display: flex;
  align-items: center;
}

.notification-section i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: rgb(155, 224, 253);
  background-color: white;
}

.notification-section p {
  font-size: 15px;
}

.notification-section div:last-of-type {
  margin-left: 10px;
}

.notification-section div:last-of-type p:first-of-type {
  font-weight: bold;
  margin-bottom: 2px;
}

.notification-section div:last-of-type p:last-of-type {
  text-decoration: underline;
  cursor: pointer;
}

/* Search section */

.search-section {
  background-color: rgb(237, 237, 237);
}

.search-section input {
  width: 100%;
  display: inline-block;
  padding: 5px;
  padding-left: 25px;
  border: none;
  border-radius: 25px;
}

.search-section div {
  position: relative;
}

.search-section i {
  position: absolute;
  left: 1%;
  top: 24%;
  font-size: 15px;
  color: lightgray;
}

/* Chat section */

.chat-section {
  background-color: white;
  flex-grow: 1;
  overflow: auto;
}

.chat-section ul {
  list-style: none;
}

.chat-section li {
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.chat-section li:hover {
  background-color: gray;
  cursor: pointer;
}

.chat-section li.selected {
  background-color: gray;
}

.chat-section li,
.chat-section li img {
  vertical-align: middle;
}

.chat-section li div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.chat-section li div p:first-of-type {
  font-weight: bold;
  margin-bottom: 2px;
}

.chat-section li div p:last-of-type {
  font-size: 14px;
  color: lightgrey;
}

.wrapper-left div:last-of-type {
  padding: 0;
}

/* Right section */

.wrapper-right {
  width: 70%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.wrapper-right div {
  padding: 10px;
}

.wrapper-right div:first-of-type {
  padding: 5.5px;
}

.wrapper-right div:last-of-type {
  padding: 0 5px;
}

/* Header section */

.header-section {
  display: flex;
  align-items: center;
  background-color: rgb(237, 237, 237);
}

.header-section div:first-of-type {
  flex-grow: 1;
}

.header-section div:first-of-type p:first-of-type {
  font-weight: bold;
  margin-bottom: 2px;
}

.header-section div:first-of-type p:last-of-type {
  font-size: 14px;
  color: lightgrey;
}

/* Chat right section */

.chat-section-right {
  background-image: url(imgs/mine.jpg);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.container-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper-right .chat-section-right .green-message {
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper-right .chat-section-right .white-message {
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.green-message {
  background-color: lightgreen;
  position: relative;
  margin-bottom: 10px;
  align-self: flex-end;
}

.green-message p:last-of-type,
.white-message p:last-of-type {
  font-size: 8px;
  color: black;
  position: absolute;
  right: 3%;
  bottom: 5%;
}

.green-message i {
  position: absolute;
  top: -7px;
  right: -11px;
  font-size: 20px;
  color: lightgreen;
}

.white-message i {
  position: absolute;
  top: -7px;
  left: -11px;
  font-size: 20px;
  color: white;
}

.white-message {
  background-color: white;
  position: relative;
  align-self: flex-start;
  margin-bottom: 10px;
}
/* Input section right */

.input-section-right {
  display: flex;
  background-color: rgb(237, 237, 237);
  align-items: center;
}

.input-section-right div:nth-of-type(2) {
  flex-grow: 1;
}

.input-section-right div:nth-of-type(2) input {
  padding: 8px;
  border: none;
  width: 100%;
  border-radius: 25px;
}

/* Input outline */

input:focus {
  outline: none;
}
